@charset "utf-8";
/* CSS Document */
/*定义重置样式和公用样式*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{  margin:0;padding:0}
@font-face {
    font-family:"pingfang";
    src:url("../fonts/PingFang Medium_0.ttf");
}
@font-face {
    font-family: "pingfang_bold";
    src: url("../fonts/PingFang Bold.ttf");
}
body {user-select: none;font-family:"pingfang";font-size:12px;color:#323232;background-color:#fff;}
ul,li {list-style:none;}
img {border:0;}
a:link {color:#FFFFFF;text-decoration:none;}
a:visited {color:#FFFFFF;text-decoration:none;}
a:hover {text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:14px;}
i,em {font-style:normal;}
.clearfix:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden;}
.clearfix {zoom:1;}
.m_0a{margin: 0 auto;}
.w_100{width: 100%;}
.w_90{width: 90%;}
.w_80{width: 80%;}
.w_70{width: 70%;}
.w_50{width: 50%;}
.w_45{width: 45%;}
.w_40{width: 40%;}
.w_30{width: 30%;}
.w_25{width: 25%;}
.w_20{width: 20%;}
.w_15{width: 15%;}
.w_10{width: 10%;}
.w_8{width: 8%;}
.w_6{width: 6%;}
.w_5{width: 5%;}
.w_2{width: 2%;}
.br{border:1px solid red}
.fl {float:left;}
.fr {float:right;}
.p_r{position: relative;top:0px;left:0px}
.p_a{position: absolute;}
.p_f{position: fixed;}
.t-0{top:0px;}
.b-0{bottom:0px;}
.r-0{right:0px;}
.l-0{left:0px;}
.z-i_1{z-index: 1}
.z-i_2{z-index: 2}
.z-i_3{z-index: 3}
.z-i_4{z-index: 4}
.none{display: none;}
.Ts_5{transition: all 0.5s;}
.Ts1{transition: all 1s;}
.Ts1_6{transition: all 1.6s;}

/*弹出层*/
.pop{transition:all 0.7s;height:100%;background: #000;opacity: 0;display: none;top:0px;}
.pop2{transition:all 0.7s;left:50%;top:50%;margin-left:-205px;display:none;margin-top:-150px;width: 400px;padding: 40px;}
.pop2 .h1{color: red;font-size: 26px;font-weight: bold;text-align: center;margin-bottom:20px;}
.pop2 .pop2p{text-align: center;margin-top: 30px;}
.popactive{border-radius: 5px;font-size: 16px;box-shadow:0px 0px 10px #000;background: #fff;}
/*#pop1 img{transition:all 5s;float: left;transform:rotateY(-120deg);transform-origin: left 50%;}*/
/*#pop1 {transition:all 2s;border:2px solid red;transform:rotateY(-120deg);transform-origin: left 50%;}*/











