<ion-view>
    <ion-header-bar>
        <div class="banner w_100 p_a" id="name">
            <p class="avatar p_a br_50">
                <img src="img/png/avatar.png">
            </p>
            <div class="search mg_0a h40 bc_w f_0 br_5" ng-click="vm.showSearch()">
                <p class="f_l w_40 h40">
                     <span class="ic ic25 ic_search f_r p_r t_7"></span>
                </p>
                <p class="h40 f_r w_55 f_18 pt_8 cl_G2">搜索功能</p>
            </div>
            <div class="w_100 h45 ta_c f_16 cl_w d_ib controllerBox p_r">
                <div>
                    <p ng-click="vm.controllerBox(0)" class="f_18 fw_b">大厅</p>
                    <p ng-click="vm.controllerBox(1)">书房</p>
                    <p ng-click="vm.controllerBox(2)">卧室</p>
                    <p ng-click="vm.controllerBox(3)">厨房</p>
                </div>
                <span style="{{vm.styleBox}}" class="w_25 bc_w ts_03"></span>
            </div>
            <app-action></app-action>
        </div>
    </ion-header-bar>
    <ion-content class="cont bc_G">
        <app-slide></app-slide>
    </ion-content>
</ion-view>
