<ion-slide-box active-slide="vm.activeSlide">
    <ion-slide>
        <div class="home home1 bc_G">
            <h1>BLUE</h1>
            <ul class="mb_5">
                <li ng-repeat="time in vm.timer" ng-click="vm.goDetails(item.code)" class="w_100 mb_5 h40 bc_w">
                   <i class="ic w20 h20 br_50" ng-class="time.color"></i>
                </li>
            </ul>
        </div>
    </ion-slide>
    <ion-slide>
        <div class="home home2 bc_G">
            <h1>YELLOW</h1>
        </div>
    </ion-slide>
    <ion-slide>
        <div class="home home3 bc_G">
            <h1>PINK</h1>
        </div>
    </ion-slide>
    <ion-slide>
        <div class="home home4 bc_G">
            <h1>PINK</h1>
        </div>
    </ion-slide>
</ion-slide-box>